$height: calc(12px + 1vh + 1vw);

/* handle basic inputs */
input[type="text"],
textarea {
  @extend p;
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: solid 1px black;
  margin: 0px;
}

button,
.button {
  @extend p;
  -webkit-appearance: none;
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: none;
  border: none;
  border-radius: 999px;
  height: $height;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin: 0px 0.15vw;
  line-height: $height;
  text-align: center;
  background: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background 0.1s ease;

  &:hover {
    box-shadow: -1px 8px 17px rgba(51, 36, 80, 0.1);
  }
  &.circle {
    height: $height;
    width: $height;
    padding: 0px;
  }
  &:disabled {
  	opacity: 0.5;
    text-decoration: line-through;
  	background-color: inherit !important;
    box-shadow: none !important;
  	color: inherit !important;
  	cursor: default !important;
  }

}
